.header {
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ecf0f1;
  top: 0;
  background-color: #fdfdfd;
  z-index: 10;
}
.logo {
  height: 40px;
}
.user {
  float: right;
  font-size: 18px;
  max-width: 600px;
}
